* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
.header-container {
    background-color: burlywood;
}
.nav-bar {
    max-width: 1200px;
    margin: 0 auto;
    background-color: darkcyan;
    padding: 20px;
}
.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.nav-bar ul li {
    display: inline-block;
}
.nav-bar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;   
}
.nav-bar ul li a:hover {
    color: rgb(233, 245, 19);
    transition: 0.5s;
}
.hero-section {
    margin-top: 40px;
}
.hero-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:cornflowerblue ;
    padding:15px 40px;
    border-radius: 20px;
}
.text{
    color: white;
}
.text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.text p {
    font-size: 18px;
    margin-bottom: 20px;
}
.text button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.text button:hover {
    background-color: burlywood;
    transition: 0.5s;
    color: white;
}
.img {
    width: 300px;
}
.img img {
    width: 100%;
    border-radius: 20px;
}